.post {
  width: 100%;
  box-shadow: 3px 7px 13px -10px #404755;
  border-radius: 10px;
}

.postWrapper {
  padding: 10px;
  background-color: white;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postTop {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postUsername {
  font-size: 15px;
  font-weight: 550;
  margin: 0 10px;
  margin-top: 5px;
}

.postText {
  font-size: 17px;
}

.postDate {
  font-size: 12px;
  margin-top: 5px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 400px;
  height: auto;
  object-fit: contain;
}

.postTopRight {
  display: flex;
  align-items: center;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  margin-top:3px;
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  margin-right: 3px;
  border-bottom: 1px solid gray;
  font-size: 15px;
  margin-right: 3px;
  cursor: pointer;
}
