.login {
  width: 100vw;
  height: 100vh;
  background-color:  #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 
.react-tabs {
  text-align: center;
}

.react-tabs__tab-list {
  margin: 0 auto;
} */

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
}

.loginBottom {
  margin: 20px;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: orange;
  margin-top: 20px;
}


.loginBox {
  height: 400px ;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 7px 13px -10px #404755;
  border-radius: 10px;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginRegisterButton {
  height: 50px;
  align-self: center !important;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  background-color: #3c8b50;
}

.loginMsg {
  text-align: center;
  font-weight: 550;
  font-size: 20px;
  margin-bottom: 5px;
}

